<div class="columns is-multiline">
    {% for image in page.extra.galleries[id].images %}
    {% set meta = get_image_metadata(path=page.colocated_path ~ image.asset) %}
    {% set preview_resized = resize_image(path=page.colocated_path ~ image.asset, width=page.extra.galleries[id].sizes.preview|default(value=400), height=page.extra.galleries[id].sizes.preview|default(value=400), op="fit", quality=80) %}
    {% set full_resized = resize_image(path=page.colocated_path ~ image.asset, width=page.extra.galleries[id].sizes.full|default(value=meta.width), height=page.extra.galleries[id].sizes.full|default(value=meta.height), op="fit", quality=100) %}
    <div class="column is-{{ page.extra.galleries[id].sizes.desktop | default(value="one-third") }}-desktop is-{{ page.extra.galleries[id].sizes.tablet | default(value="half") }}-tablet">
        <div class="card">
            <div class="card-image">
                <figure class="image">
                    <a href="{{ full_resized.url | safe }}">
                        <img src="{{ preview_resized.url | safe }}" alt="{{ image.alt }}" />
                    </a>
                </figure>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
