<div id="{{ id|default(value="map") }}" style="height: {{ height|default(value="200px") }}"></div>
<script type="text/javascript">
    var map_{{ id|default(value="map") }} = L.map("{{ id|default(value="map") }}")
        .setView([{{ lat }}, {{ lon }}], {{ zoom|default(value=12) }});
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map_{{ id|default(value="map") }});
</script>
