{% extends "conscientious/templates/base.html" %}

{% block libs %}
    {% if page.extra.head.libs.leaflet %}
        <link rel="stylesheet" href="{{ get_url(path="lib/leaflet/leaflet.css") }}" />
        <script src="{{ get_url(path="lib/leaflet/leaflet.js") }}"></script>
    {% endif %}
    {% if page.extra.head.libs["leaflet-gpx"] %}
        <script src="{{ get_url(path="lib/leaflet-gpx/gpx.js") }}"></script>
    {% endif %}
{% endblock %}
